{% extends "base.html" %}
{% block title %}Panel administración{% endblock %}

{% block content %}
<h2>Panel de administración</h2>
<p>Bienvenid@, <strong>{{ session.nombre }}</strong></p>


 {% with messages = get_flashed_messages(with_categories=true) %}
 {% if messages %}
 {% for category, message in messages %}
<p style="color: green; font-weight: bold;">{{ message }}</p>
 {% endfor %}
 {% endif %}
 {% endwith %}

<div class="admin-menu">

    <div class="menu-bloque">
        <h3>⚙️ Configuración</h3>
        <a class="boton" href="/pilates/admin/mes_activo">Mes activo</a>
        <a class="boton" href="/pilates/admin/festivos">Festivos</a>
    </div>

    <div class="menu-bloque">
        <h3>📅 Clases</h3>
        <a class="boton" href="/pilates/admin/clases_base">Clases base</a>
        <a class="boton" href="/pilates/admin/generar_mes">Generar clases del mes</a>
        <a class="boton" href="/pilates/admin/clases_mes">Ver clases del mes</a>
        <a class="boton" href="/pilates/admin/clases_manual">Clase puntual</a>
    </div>

    <div class="menu-bloque">
        <h3>🔁 Asignaciones</h3>
        <a class="boton" href="/pilates/admin/asignaciones">Clases fijas</a>
        <a class="boton" href="/pilates/admin/recuperaciones">Recuperaciones</a>
    </div>

    <div class="menu-bloque">
        <h3>👥 Usuarios</h3>
        <a class="boton" href="/pilates/admin/usuarios">Gestionar usuarios</a>
        <a class="boton" href="/pilates/admin/usuarios/nuevo">Crear usuario</a>
    </div>

    <div class="menu-bloque">
        <h3>💳 Pagos</h3>
        <a class="boton" href="/pilates/admin/pagos">Control de pagos</a>
        <a class="boton" href="/pilates/admin/pagos/historico">Histórico de pagos</a>
    </div>

    <div class="menu-bloque">
        <h3>🧩 Versión de la aplicación</h3>
        <p>
            <strong>Versión:</strong> v1.0.1<br>
            <strong>Fecha:</strong> 16/01/2026
        </p>

        <p><strong>Novedades:</strong></p>

        <ul class="lista-version">
            <li>Mejora Botones y Funcionalidad</li>
            <li>Selección tipo pago e histórico</li>
            <li>Solución generación mes</li>
            <li>Desactivar / Activar usuarios</li>
        </ul>
    </div>



</div>


{% endblock %}


