{% extends "base.html" %}
{% block title %}Cambiar contraseña{% endblock %}

{% block content %}
<h2>Cambiar contraseña</h2>

<p>
    Usuario: <strong>{{ nombre }}</strong>
</p>

<div class="form-container">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="post">
        <label>Nueva contraseña</label>
        <input type="password" name="password" required>
        <br /><br />
        <label>Repetir contraseña</label>
        <input type="password" name="password2" required>
        <br /><br />
        <button type="submit">Guardar contraseña</button>
    </form>


    <p class="info-clases">
        ⚠️ Esta acción sobrescribirá la contraseña actual.
    </p>

</div>
<br />
<a href="/admin/usuarios" class="boton boton-secundario">⬅ Volver</a>
{% endblock %}