{% extends "base.html" %}
{% block title %}Asignar clases fijas{% endblock %}

{% block content %}

<h2>Asignar clases fijas</h2>

<p class="info-clases">
    Selecciona un usuario (Activo) para asignarle sus clases semanales fijas.
</p>


<a href="/pilates/admin" class="boton boton-secundario">⬅ Volver al panel</a>
<br />
<br />
{% if usuarios %}
<table>
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Clases / semana</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for u in usuarios %}
        <tr>
            <td>{{ u[1] }}</td>
            <td>{{ u[2] }}</td>
            <td class="acciones">
                <a class="boton"
                   href="/admin/asignaciones/{{ u[0] }}">
                    Asignar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No hay usuarios disponibles.</p>
{% endif %}

<a href="/pilates/admin" class="boton boton-secundario">⬅ Volver al panel</a>

{% endblock %}
