<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Acceso · Pilates Garval</title>
    <link rel="icon" type="image/x-icon" href="/pilates/static/favicon.ico">
    <link rel="shortcut icon" href="/pilates/static/favicon.ico">
    <link rel="stylesheet" href="/pilates/static/estilo.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="login-body">

    <div class="login-container">
        <img src="/pilates/static/img/logo.png"  alt="Logo" class="login-logo">

        <h2>Pilates Garval</h2>

        {% if error %}
        <div class="flash">
            {{ error }}
        </div>
        {% endif %}

        <form method="post" class="login-form">
            <label>Email</label>
            <input type="email" name="email" required>

            <label>Contraseña</label>
            <input type="password" name="password" required>

            <button type="submit">Entrar</button>
        </form>

    </div>

</body>
</html>

