{% extends "base.html" %}
{% block title %}Añadir recuperación{% endblock %}

{% block content %}

<h2>Añadir recuperación manual</h2>

<form method="post" action="/pilates/admin/recuperaciones_nueva">

    <label>Usuario</label>
    <select name="id_usuario" required>
        <option value=""></option>
        {% for id, nombre in usuarios %}
        <option value="{{ id }}">{{ nombre }}</option>
        {% endfor %}
    </select>



    <button type="submit" class="boton">Guardar</button>
    <a href="/pilates/admin/recuperaciones" class="boton boton-secundario">Cancelar</a>

</form>

{% endblock %}
