{% extends "base.html" %}
{% block title %}Recuperaciones pendientes{% endblock %}

{% block content %}

<h2>Recuperaciones pendientes mes activo {{ mes_literal }} {{ year }}</h2>


{% if rol == "admin" %}
<div class="acciones-superior">
    <a href="/pilates/admin/recuperaciones_nueva" class="boton">
        Añadir recuperación a un usuario
    </a>
</div>
<br />
{% endif %}
{% if pendientes %}

<table>
    <tr>
        <th>Usuario</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Acción</th>
        <th>Especial</th>
    </tr>

    {% for id, nombre, fecha, hora, especial in pendientes %}

    {# convertir string a fecha #}
    {% set f = fecha | replace("-", "/") %}

    <tr>
        <td>{{ nombre }}</td>
        <td>{{ f[8:10] }}/{{ f[5:7] }}/{{ f[0:4] }}</td>
        <td>{{ hora }}</td>
        <td class="acciones">
            <a href="/pilates/admin/recuperaciones/asignar/{{ id }}" class="boton">
                Asignar
            </a>

        </td>
        <td>{% if especial == 1 %}especial{% endif %}</td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p class="info-clases">
    🎉 No hay recuperaciones pendientes en el mes activo
</p>
{% endif %}

<a href="/pilates/admin" class="boton boton-secundario">⬅ Volver al panel</a>

{% endblock %}
